<div class="row" >
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 25%;" >Image</th>
                                <th style="width: 50%;">Name</th>
                                <th style="width: 25%;">Edit</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let row of data">
                                <td style="width: 25%;">
                                    <a (click)="updateImage(row)">
                                        <img style="width: 30px;" [src]="row.img | image:row.typeSeach">
                                    </a>
                                </td>
                                <td style="width: 50%;"> {{row.name}} </td>
                                <td style="width: 25%;">
                                    <button class="btn btn-primary"  (click)="edit(row)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 