USE [master]
GO
/****** Object:  Database [FacturaDBDigital]    Script Date: 14/10/2021 22:52:07 ******/
CREATE DATABASE [FacturaDBDigital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturaDBDigital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LAUJDB\MSSQL\DATA\FacturaDBDigital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacturaDBDigital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LAUJDB\MSSQL\DATA\FacturaDBDigital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturaDBDigital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturaDBDigital]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/10/2021 22:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[CLI_IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[CLI_Nombre] [varchar](150) NOT NULL,
	[CLI_Apellidos] [varchar](150) NOT NULL,
	[CLI_FechaNacimiento] [date] NOT NULL,
	[CLI_Identificacion] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturacion]    Script Date: 14/10/2021 22:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturacion](
	[FAC_IdFacturacion] [int] IDENTITY(1,1) NOT NULL,
	[FAC_IdProducto] [int] NOT NULL,
	[FAC_IdCliente] [int] NOT NULL,
	[FAC_FechaVenta] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametrizacion]    Script Date: 14/10/2021 22:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametrizacion](
	[PAR_NombreConf] [nvarchar](50) NOT NULL,
	[PAR_ValorConf] [nvarchar](200) Null
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 14/10/2021 22:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[PRO_IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[PRO_Nombre] [nvarchar](150) NOT NULL,
	[PRO_Valor] [decimal](18, 0) NOT NULL,
	[PRO_Cantidad] [int] NOT NULL,
	[PRO_FechaCreacion] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes]    Script Date: 14/10/2021 22:52:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clientes] ON [dbo].[Clientes]
(
	[CLI_Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
